<canvas
    #canvas
    [ngStyle]="{display: gameStarted?'block':'none'}"
    class="main-canvas"
>
</canvas>
<div *ngIf="gameStarted" class="menu">
    <div class="menu-text">
        <h3>score: {{stats.score}}</h3>
        <h3>speed: {{stats.speed}}</h3>
    </div>
    <div class="menu-top">
        <h3>top players</h3>
        <ol>
            <li>{{records[0].name}}: {{records[0].score}}</li>
            <li>{{records[1].name}}: {{records[1].score}}</li>
            <li>{{records[2].name}}: {{records[2].score}}</li>
        </ol>
    </div>
</div>
<div *ngIf="!gameStarted" class="overlap">
    <label>enter name <input (keyup)="onKeyUp($event)"/></label>
    <span
        [ngStyle]="{opacity: errorOpacity}"
        class="error-message"
    >
        Name must contain from 4 to 8 alphabetic or digit characters
    </span>
    <button (click)="startGame()">start game</button>
</div>
<audio #lostSound src="../../assets/lost.mp3"></audio>